@import "../../../variables.scss";

.song-section {
    margin-bottom: 2*$spacer;
    .name {
        margin-right: $spacer;
        font-weight: bold;
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        .line {
            display: flex;
            margin-bottom: $spacer;
            margin-right: $spacer;
            border: 1px solid $gray-lighter;
            padding: $spacer;
            .marker {
                margin-right: $spacer;
                border-left: 1px solid $gray-light;
                padding-left: $spacer/2;
                .chord {
                    font-style: italic;
                }
            }
        }
    }
}
