@import "../../../variables.scss";

.song-section {
    margin-bottom: 2*$small-space;
    .name {
        margin-right: $small-space;
        font-weight: bold;
    }
    .line {
        display: flex;
        margin-bottom: $small-space;
        .marker {
            margin-right: $small-space;
            border-left: 1px solid $gray-light;
            padding-left: $small-space/2;
            .chord {
                font-style: italic;
            }
        }
    }
}
