@import "../../../variables.scss";

.song-section {
    margin-bottom: $spacer;
    .name {
        margin-right: $spacer;
        margin-bottom: $spacer;
        font-weight: bold;
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        .line {
            display: flex;
            margin-bottom: $spacer;
            margin-right: $spacer;
            border: 1px solid black;
            padding: $spacer;
            background-color: $light-bg-color;
            .marker {
                .chord {
                    font-style: italic;
                }
                .lyrics {
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }
    }
}
